<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voika.adjust.dao.edgeadjust.mdao.EdgeAdjustDao">

    <resultMap id="edgeMap" type="com.voika.adjust.dao.edgeadjust.po.EdgeAdjustPO">
        <result property="id" column="id" />
        <result property="edgeAdjustedDog" column="edge_adjusted_dog" />
        <result property="edgeAdjustCount" column="edge_adjust_count" />
        <result property="edgeAdjustDatetime" column="edge_adjust_datetime" />
    </resultMap>

    <select id="queryCondition" resultMap="edgeMap">
        select * from edge_adjust_dog;
    </select>
</mapper>