<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voika.dao.family.MFamilyMoneyDao">

    <!-- 数据字典 -->
    <select id="dir" parameterType="com.voika.dao.family.po.FamilyMoneyPO"
            resultType="com.voika.dao.family.po.FamilyMoneyPO">
        select * from family_money
        where deleted = 0
        <if test="id != null ">
            and id = #{id}
        </if>
        <if test="personName != null and personName != '' ">
            and person_name like concat('%',#{personName},'%')
        </if>
        <if test="money != null">
            and money = #{money}
        </if>
        <if test="moneyStatus != null">
            and money_status = #{moneyStatus}
        </if>
        <if test="remark != null and remark != '' ">
            and remark like concat('%',#{remark},'%')
        </if>
        <if test="saveTime != null and saveTime != '' ">
            and save_time = #{saveTime}
        </if>
        <if test="createTime != null and createTime != '' ">
            and create_time = #{createTime}
        </if>
        <if test="modyfiTime != null and modyfiTime != '' ">
            and modyfi_time = #{modyfiTime}
        </if>
        <if test="createName != null and createName != '' ">
            and create_name = #{createName}
        </if>
        <if test="operatorName != null and operatorName != '' ">
            and operator_name = #{operatorName}
        </if>
    </select>

    <!-- 分页查询 -->
    <select id="searchCondition" parameterType="com.voika.controller.family.dto.SearchFamilyMoneyDTO"
            resultType="com.voika.controller.family.vo.FamilyMoneyVO">
        select * from family_money
        where deleted = 0
        <if test="personName != null and personName != '' ">
            and person_name like concat('%',#{personName},'%')
        </if>
        <if test="money != null">
            and money like concat('%',#{money},'%')
        </if>
        <if test="moneyStatus != null">
            and money_status = #{moneyStatus}
        </if>
        <if test="remark != null and remark != '' ">
            and remark like concat('%',#{remark},'%')
        </if>
        <if test="saveInTimeStart != null and saveInTimeStart != '' and saveInTimeEnd != null and saveInTimeEnd != '' ">
            and save_time between #{saveInTimeStart} and #{saveInTimeEnd}
        </if>
    </select>

    <!-- 插入资金记录 -->
    <insert id="insertFamilyMoney" parameterType="com.voika.dao.family.po.FamilyMoneyPO">
        insert into family_money(
        person_name,
        money,
        money_status
        <if test="remark != null and remark != ''">
            ,remark
        </if>
        <if test="saveTime != null and saveTime != ''">
            ,save_time
        </if>
        )values(
        #{personName},
        #{money},
        #{moneyStatus}
        <if test="remark != null and remark != ''">
            ,#{remark}
        </if>
        <if test="saveTime != null and saveTime != ''">
            ,#{saveTime}
        </if>
        )
    </insert>

</mapper>