<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voika.dao.login.MLoginDao">
    <!-- 用户数据字典 -->
    <select id="accountDir" parameterType="com.voika.dao.login.po.AccountPO"
            resultType="com.voika.dao.login.po.AccountPO">
        select * from tb_account
        where deleted = 0
        <!-- id -->
        <if test="id != null">
            and id = #{id}
        </if>

        <!-- username -->
        <if test="username != null and username != '' ">
            and username = #{username}
        </if>

        <!-- password -->
        <if test="password != null and password != ''">
            and password = #{password}
        </if>

        <!-- accountStatus -->
        <if test="accountStatus != null">
            and accountStatus = #{accountStatus}
        </if>
    </select>
    <!-- 查询用户的角色 -->
    <select id="searchRole" parameterType="integer" resultType="string">
        select r.name roleName from tb_account_role ar
        left join tb_role r on r.id = ar.role_id
        <if test="accountId != null">
            where ar.account_id = #{accountId}
        </if>
    </select>
    <!-- 查询角色对应的权限 -->
    <select id="searchPerms" parameterType="integer" resultType="string">
        select p.name from tb_perms_role pr
        left join tb_perms p on pr.perms_id = p.id
        <if test="roleId != null">
            where pr.role_id = #{roleId}
        </if>
    </select>
    <!-- tb_account_role -->
    <select id="roleIds" parameterType="integer" resultType="integer">
        select role_id from tb_account_role
where account_id = #{accountId}
    </select>
</mapper>