<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voika.dao.adjust.MAdjustDao">
    <!-- 数据字典 -->
    <select id="adjustInfoDir" parameterType="com.voika.dao.adjust.po.AdjustPO"
            resultType="com.voika.dao.adjust.po.AdjustPO">
        select *
        from tb_adjust_info;
    </select>

    <!-- 分页查询 -->
    <select id="searchAdjustInfo" parameterType="com.voika.controller.adjust.dto.AdjustCondition"
            resultType="com.voika.controller.adjust.vo.AdjustInfoVO">
        select * from tb_adjust_info
        <where>
            deleted = 0
            <if test="adjustedDog != null and adjustedDog != ''">
                adjusted_dog like concat('%',#{adjustedDog},'%')
            </if>
            <if test="adjustContentCode != null">
                adjust_content_code = #{adjustContentCode}
            </if>
            <if test="adjustInfo != null and adjustInfo != ''">
                adjust_info like concat('%',#{adjustInfo},'%')
            </if>
            <if test="effectiveness != null">
                effectiveness = #{effectiveness}
            </if>
            <if test="adjustDatetimeStart != null and adjustDatetimeStart != '' and adjustDatetimeEnd != null and adjustDatetimeEnd != ''">
                adjust_datetime between #{adjustDatetimeStart} and #{adjustDatetimeEnd}
            </if>
        </where>
    </select>

    <!-- 逻辑删除 TJ 记录 -->
    <delete id="deletedAdjustInfo" parameterType="integer">
        update tb_adjust_info
        set deleted = 1
        where id = #{id}
    </delete>

</mapper>